/* Coolors Exported Palette - coolors.co/fde8e9-e3bac6-bc9ec1-596475-1f2232 */
/* RGB */
* {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 16px;
}

* h1 {
  font-family: "Syncopate", sans-serif;
}

* h3 {
  font-family: "Syncopate", sans-serif;
}

.indexPage {
  background-image: url("/assets/background-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainPage {
  margin-top: 30px;
}

.profilePage {
  background-color: #1f2232;
  background-image: url("/assets/background-1.jpeg");
  background-repeat: no-repeat;
}

.schedulePage {
  background-color: #596475;
  background-image: url("/assets/background-1.jpeg");
  background-repeat: no-repeat;
}

.headersSearch {
  font-family: "Syncopate", sans-serif;
  font-size: 40px;
  color: #fde8e9;
}

.signInButton {
  margin-right: 20px;
}

.motto {
  color: #fde8e9;
  font-style: italic;
  font-size: 50px;
}

.jumbotron {
  margin-top: 150px;
  background-color: transparent;
  font-family: "Syncopate", sans-serif;
  font-size: 150px;
}

.g-signin2 {
  margin-right: 40px;
  margin-bottom: 5px;
  color: black;
}

.btn-success {
  background: #fde8e9;
  border: 1px white solid;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  color: #1f2232;
  margin-right: 30px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-primary {
  background: #1f2232;
  color: #fde8e9;
  border: 1px white solid;
}

.contactInfo {
  color: #fde8e9;
}

.btn-primary,
.btn-secondary {
  background: transparent;
  border: 1px white solid;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}

.selectLabel {
  color: #11a4d2;
  margin-left: 5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: white;
  color: black;
}

.profileTopper {
  background-color: #596475;
  color: #e3bac6;
}

.profilePic {
  padding: 10px;
}

.searchResultBox,
.form-inline {
  margin-top: 20px;
}

.eventDate {
  max-width: 150px;
}

.modalBox,
.modal-content {
  background-color: #596475;
  color: #1f2232;
  border: 2px #11a4d2 solid;
}

.modalBox a,
.modal-content a {
  color: #11a4d2;
}

.modalBox .mapURLbox,
.modal-content .mapURLbox {
  margin-bottom: 120px;
  color: #11a4d2;
}

.reviewAuthor {
  border-bottom: 2px #b5b4b1 solid;
}

.mapURLbox {
  margin-bottom: 120px;
  color: #11a4d2;
}

.modal-header {
  border: none;
  height: 10px;
}

.modal-footer {
  border: none;
}

.dateNightEvent {
  border: 2px #11a4d2 solid;
  background-color: #1f2232;
}

.establishment {
  margin: 5px;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.radiusMessage {
  color: white;
}

.googleLogo {
  margin-top: 200px;
}

.inputBox {
  background-color: #11a4d2;
}

.addToProfile {
  max-width: 200px;
}

.updateBox {
  margin-top: 50px;
}

.detailsForDate {
  margin-top: 30px;
}

.messageToDate {
  color: black;
  min-width: 400px;
}

.location-id {
  border: none;
  background-color: transparent;
  font-size: 14px;
}
