$headlineFont: 'Syncopate', sans-serif;
$mainFont: 'Open Sans', sans-serif;

/* RGB */
$color1: rgba(1, 22, 39, 1);
$color2: rgba(46, 196, 182, 1);
$color3: rgba(246, 247, 235, 1);
$color4: rgba(233, 79, 55, 1);
$color5: rgba(57, 62, 65, 1);

* {
    font-family: $mainFont;
    color: $color3;
    font-size: 16px;
    h1 {
        font-family: $headlineFont;
    }
    h3 {
        font-family: $headlineFont;
    }
}

body {
    // background-image: url('/assets/city-scape.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    // opacity: 0.6;
    background-color: $color4;
}

.headerRow {
    margin-top: 30px;
}

.indexPage {
    height: 90vh;
}

.navLinks {
    margin-right: 30px;
    font-size: 20px;
    color: $color3;
}


.jumbotron {
    font-size: 50px;
    font-weight: bolder;
    font-size-adjust: auto;
    background-color: transparent;
    font-family: $headlineFont;
    margin-top: 150px;
    h1 {
    font-size: 170px;
    color: $color1;
    }
}
.mottoBox {
    p {
    font-size: 75px;
    }
    .motto {
        color: $color3;
        font-style: italic;
        font-size: 45px;
        margin-bottom: 80px;
    }
}

.glyphicon {
    color: $color3;
    font-size: 45px;
}

.martini2 {
    width: 4vw;
    height: 7vh;
}

.dateNightHeader {
font-family: $headlineFont;
font-size: 45px;
margin-top: 10px;
}

.downArrow {
    padding-top: 40px;
    button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }
}

.getStarted {
    margin-top: 50px;
    a {
        font-size: 25px;
        color: $color2;
        border: 2px $color3 solid;
        // padding: 10px;
        background-color: $color5;
    }
}

.contactInfo {
    color: $color1;
}

.wwd {
    padding-top: 10px;
    height: 38vh;
    background-color: $color3;
    color: $color1;
    h1,h2 {
        color: $color1;
    }
}

.wwdMessage {
    margin-bottom: 30px;
}


.plate {
    width: 7vw;
    height: 10vh;
}

.martini {
    width: 5vw;
    height: 10vh;
}

.ddm {
    color: $color1;
}

.reel {
    width: 7vw;
    height: 10vh;
}
.wwd2 {
    padding-top: 10px;
    height: 35vh;
    background-color: $color1;
    color: $color3;
    h1,h2 {
        color: $color3;
    }
}

.wwdMessage2 {
    margin-bottom: 30px;
}

.calendar {
    width: 7vw;
    height: 12vh;
    color: $color3;
}

.soul {
    width: 7vw;
    height: 12vh;
    color: $color3;
}

.clock {
    width: 6vw;
    height: 12vh;
    color: $color3;
}

.charge {
    width: 6vw;
    height: 12vh;
    color: $color3;
}

.wwd3 {
    padding-top: 10px;
    height: 27vh;
    background-color: $color5;
    color: $color3;
    h1,h2 {
        color: $color3;
    }
}

.wwdMessage3 {
    margin-bottom: 30px;
}
.contactFooter {
    margin-top: 30px;
}

.jamesPic {
    // margin-right: 10px;
    // margin-top: 10px;
    width: 100px;
}
.header-distributed{
    background-color: black;
    width: 100%;
    color:  $color5;
}

.footer-distributed{
    background-color: $color1;
    width: 100%;
    color:  $color5;
    padding-bottom: 10px;
}

/* Footer social icons */

.footer-icons{
    // margin-top: 10px;
}

.footer-icons a{
    display: inline-block;
    border-radius: 2px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin: 20px;
    margin-bottom: 10px;
}

.footer-right p{
    display: inline-block;
    // vertical-align: top;
    // margin: 15px 42px 0 0;
    color: #ffffff;
}

.centerNav {
    padding-top: 30px;
}

.copyright {
    width: 1vw;
}

.contactJames {
    padding-top: 27px;
}
.profilePage {
    background-color: $color5;
}

.profileNav {
    background-color: $color1;
    color: $color2;
    height: 10vh;
}

.profileTopper {
    background-color: $color4;
    color: $color2;
    height: 80vh;
    padding-top: 50px;
}

.insideProfileBox {
    background-color: $color5;
    height: 68vh;
    color: $color2;
}

.profilePic {
    padding: 10px;
}

.dateInfoProfile {
    margin-top: 35px;
    color: $color2;
}

.dateModalFooter {
    padding-bottom: 10px;
}

#dateProfileBox2 {
    background-color: $color2;
    color: $color1;
    padding: 30px;
}

#dateProfileBox {
    color: $color2;
    padding-top: 40px;
    padding-bottom: 30px;
}

.solidBar {
    background-color: $color2;
    height: 20px;
}

.pastEventBox {
    opacity: 0.4;
    margin-bottom: 20px;
    margin-top: 20px;
}

.smIcons {
    padding-top: 25px;
}
.calendarBox {
    overflow: scroll;
    height: 80vh;
}

::-webkit-scrollbar {
    display: none;
}

#calendarEvents {
    h1 {
        color: $color4;
    }
}

#googlePic {
    margin-top: 30px;
}

#googleName {
    margin-top: 20px;
}

.schedulePage {
    background-color: $color4;
}

.headersSearch {
    font-family: $headlineFont;
    font-size: 40px;
    color: $color1;
}

.confirmPlansBox {
    margin-bottom: 30px;
}

.g-signin2 {
    display: inline-block;
    text-align: center;
}

.btn-lg {
    background: $color5;
    font-size: 40px;
    font-family: $headlineFont;
    margin: 5px;
    color:$color3;
}

.btn-lg:hover, .btn-lg:focus, .btn-lg:active, .btn-lg.active, .open > .dropdown-toggle.btn-primary {
    background: $color2;
    color: $color5;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-primary {
    background: $color5;
    color: $color1;
    border: 1px $color1 solid;
}

.btn-primary,
.btn-secondary {
    width: 125px;
    background: transparent;
    border: 1px $color3 solid;
    padding: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $color3;
    color: $color1;
}

.btn-default {
    width: 125px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: $color4;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-primary {
    color: $color4;
}


.schedDate {
    margin-bottom: 20px;
}

.selectLabel {
    color: $color1;
    margin-left: 5px;
}

.searchTopper {
    margin-top: 300px;
    transition: 0.5s ease all;
}

.searchTopper.searched {
    margin-top: 30px;
}

.searchButtonSched {
    margin-top: 36px;
}

.searchResultBox {
    // margin-top: 400px;
}

.eventDate {
    max-width: 150px;
}

.modalBox,
.modal-content {
    color: $color2;
    background-color: $color5;
    font-family: $mainFont;

    a {
        color:$color3;
    }
    .mapURLbox {
        margin-bottom: 120px;
        color: $color4;
        padding-bottom: 20px;
    }
}

.reviewAuthor {
    border-bottom: 2px $color5 solid;
}

.mapURLbox {
    padding-bottom: 20px;
    color: $color4;
}

.reviewText {
    margin-top: 10px;
}
.modal-header {
    border: none;
    height: 10px;
}

.modal-footer {
    border: none;
    margin-top: 10px;
}

.establishment {
    margin: 5px;
    padding: 5px;
}

.radiusMessage {
    color: $color3;
}

.messageToDateBox {
    margin-bottom: 15px;
}

.googleLogo {
    margin-top: 200px;
}

.inputBox {
    background-color: $color3;
}

.addToProfile {
    margin-bottom: 5px;
}

.updateBox {
    margin-top: 50px;
}

.detailsForDate {
    margin-top: 30px;
    h3 {
        font-family: $mainFont;
        font-size: 20px;
    }
}

.dateNightEvent {
    background-color: $color1;
    margin: 10px;
    min-height: 250px;
    max-height: 250px;
    min-width: 410px;
    max-width: 410px;
}

.location-id {
    border: none;
    background-color: transparent;
    font-size: 14px;
}

// media query
/* Small Devices, Tablets */
@media only screen and (min-width : 200px) and (max-width : 992px){
    .indexPage {
        height: 85vh;
    }
    .jumbotron {
        font-size: 50px;
        margin-top: 0px;
        h1 {
            font-size: 150px;
        }
    }
    .mottoBox {
        .motto {
            font-size: 30px;
            margin-bottom: 40px;
        }
    }
    .downArrow {
        padding-top: 0px;
    }
    .wwd {
        padding-top: 5px;
        height: 35vh;
    }
    .wwdMessage {
        margin-bottom: 20px;
    }
    .wwdH1 {
        h1 {
            font-size: 30px;
        }
    }
    .plate {
        width: 5vw;
        height: 7vh;
    }
    .martini {
        width: 5vw;
        height: 7vh;
    }
    .reel {
        width: 5vw;
        height: 7vh;
    }
    .calendar {
        width: 6vw;
        height: 7vh;
    }
    .soul {
        width: 6vw;
        height: 7vh;
    }

    .clock {
        width: 6vw;
        height: 7vh;
    }

    .charge {
        width: 6vw;
        height: 7vh;
    }
    .wwd2 {
        height: 28vh;
        h1 {
            font-size: 30px;
        },
        h2 {
            font-size: 16px;
        }
    }
    .wwd3 {
        height: 20vh;
    }
    .profileTopper {
        color: $color2;
        height: 30vh;
        margin-top: 10px;
    }
};

/* Medium Devices, Desktops */
// @media only screen and (min-width : 992px) and (max-width : 1200px){
//
// };

/* XS Devices */
