$headlineFont: 'Syncopate', sans-serif;
$mainFont: 'Open Sans', sans-serif;

/* RGB */
$color1: rgba(1, 22, 39, 1);
$color2: rgba(46, 196, 182, 1);
$color3: rgba(246, 247, 235, 1);
$color4: rgba(233, 79, 55, 1);
$color5: rgba(57, 62, 65, 1);

* {
    font-family: $mainFont;
    color: white;
    font-size: 16px;
    h1 {
        font-family: $headlineFont;
    }
    h3 {
        font-family: $headlineFont;
    }
}

body {
    // background-image: url('/assets/city-scape.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    // opacity: 0.6;
    background-color: $color4;
}

.headerRow {
    margin-top: 30px;
}

.navLinks {
    margin-right: 30px;
    font-size: 20px;
    color: $color1;
}


.jumbotron {
    font-size: 50px;
    font-weight: bolder;
    font-size-adjust: auto;
    background-color: transparent;
    // opacity: 0.8;
    font-family: $headlineFont;
    margin-top: 70px;
    h1 {
        font-size: 170px;
        color: $color1;
    }
    p {
        font-size: 75px;
    }
    .motto {
        color: $color3;
        font-style: italic;
        font-size: 45px;
    }
}

.getStarted {
    margin-top: 50px;
    a {
        font-size: 25px;
        color: $color2;
        border: 2px $color3 solid;
        // padding: 10px;
        background-color: $color5;
    }
}

.contactInfo {
    color: $color1;
}

.contactFooter {
    margin-top: 30px;
}

.jamesPic {
    // margin-right: 10px;
    // margin-top: 10px;
    width: 100px;
}
.header-distributed{
	background-color: black;
	width: 100%;
    color:  $color5;
}

.footer-distributed{
	background-color: black;
	width: 100%;
    color:  $color5;
    padding-bottom: 10px;
}

/* Footer social icons */

 .footer-icons{
	// margin-top: 10px;
}

 .footer-icons a{
	display: inline-block;
	// border-radius: 2px;
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin: 20px;
	margin-bottom: 10px;
}

.footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

.profilePage {
    background-color: $color5;
}

.profileNav {
    background-color: $color1;
    color: $color2;
    height: 10vh;
}

.profileTopper {
    background-color: $color4;
    color: $color2;
    height: 80vh;
    padding-top: 50px;
}

.profilePic {
    padding: 10px;
}

.dateInfoProfile {
    margin-top: 50px;
}

.pastEventBox {
    opacity: 0.4;
    margin-bottom: 20px;
    margin-top: 20px;
}

.calendarBox {
    overflow: scroll;
    height: 80vh;
}

::-webkit-scrollbar {
   display: none;
}

#calendarEvents {
    h1 {
        color: $color4;
    }
}

.schedulePage {
    background-color: $color4;
}

.headersSearch {
    font-family: $headlineFont;
    font-size: 40px;
    color: $color1;
}

.confirmPlansBox {
    margin-bottom: 30px;
}

.g-signin2 {
    display: inline-block;
    text-align: center;
}

.btn-lg {
    background: $color5;
    border: 1px $color3 solid;
    font-size: 40px;
    font-family: $headlineFont;
    padding: 10px;
    margin: 5px;
    color:$color3;
}

.btn-lg:hover, .btn-lg:focus, .btn-lg:active, .btn-lg.active, .open > .dropdown-toggle.btn-primary {
    background: $color4;
    color: $color5;
    border: 1px $color3 solid;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-primary {
    background: $color5;
    color: $color1;
    border: 1px $color3 solid;
}

.btn-primary,
.btn-secondary {
    width: 125px;
    background: transparent;
    border: 1px $color3 solid;
    padding: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $color3;
    color: black;
}

.btn-default {
    width: 125px;
    background: transparent;
    border: none;
    font-size: 16px;
    color: $color4;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-primary {
    color: $color4;
}


.schedDate {
    margin-bottom: 20px;
}

.selectLabel {
    color: $color1;
    margin-left: 5px;
}

.searchTopper {
    margin-top: 300px;
    transition: 0.5s ease all;
}

.searchTopper.searched {
    margin-top: 30px;
}

.searchButtonSched {
    margin-top: 36px;
}

.searchResultBox {
    // margin-top: 400px;
}

.eventDate {
    max-width: 150px;
}

.modalBox,
.modal-content {
    color: $color2;
    background-color: $color5;
    font-family: $mainFont;

    a {
        color:$color3;
    }
    .mapURLbox {
        margin-bottom: 120px;
        color: $color5;
    }
}

.reviewAuthor {
    border-bottom: 2px $color5 solid;
}

.mapURLbox {
    margin-bottom: 120px;
    color: $color4;
}

.modal-header {
        border: none;
        height: 10px;
}

.modal-footer {
    border: none;
}

.establishment {
    margin: 5px;
    padding: 5px;
}

.radiusMessage {
    color: $color3;
}

.googleLogo {
    margin-top: 200px;
}

.inputBox {
    background-color: $color3;
}

.addToProfile {
    max-width: 200px;
}

.updateBox {
    margin-top: 50px;
}

.detailsForDate {
    margin-top: 30px;
}

.dateNightEvent {
    background-color: $color1;
    padding: 20px;
}

.location-id {
    border: none;
    background-color: transparent;
    font-size: 14px;
}
