$headlineFont: 'Syncopate', sans-serif;
$mainFont: 'Open Sans', sans-serif;

/* RGB */
$color1: rgba(1, 22, 39, 1);
$color2: rgba(46, 196, 182, 1);
$color3: rgba(246, 247, 235, 1);
$color4: rgba(233, 79, 55, 1);
$color5: rgba(57, 62, 65, 1);

* {
    font-family: $mainFont;
    color: $color3;
    font-size: 16px;
    h1 {
        font-family: $headlineFont;
    }
    h3 {
        font-family: $headlineFont;
    }
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color4;
}

.searchPage {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color2;
}

.confirmPlansBox2 {
    margin-top: 20px;
}

.betaTag {
    color: $color1;
}

.headerRow {
    margin-top: 30px;
}

.navLinks {
    margin-right: 30px;
    font-size: 20px;
    color: $color3;
}


.jumbotron {
    font-size: 50px;
    font-weight: bolder;
    font-size-adjust: auto;
    background-color: transparent;
    font-family: $headlineFont;
    margin-top: 100px;
    h1 {
        font-size: 170px;
        color: $color1;
    }
}
.mottoBox {
    p {
        font-size: 75px;
    }
    .motto {
        color: $color3;
        font-style: italic;
        font-size: 45px;
        margin-bottom: 80px;
    }
}

.glyphicon {
    color: $color3;
    font-size: 45px;
}

.martini2 {
    width: 50px;
    height: 70px;
}

.dateNightHeader {
    font-family: $headlineFont;
    font-size: 35px;
    margin-top: 10px;
}

.dateNightHeader2 {
    font-family: $headlineFont;
    font-size: 30px;
    margin-top: 10px;
}

.downArrow {
    padding-top: 40px;
    padding-bottom: 25px;
    button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }
}

.getStarted {
    a {
        font-size: 25px;
        color: $color2;
        border: 2px $color3 solid;
        background-color: $color5;
    }
}

.contactInfo {
    color: $color1;
}

.wwd {
    height: 325px;
    background-color: $color3;
    color: $color1;
    h1,h2 {
        color: $color1;
        font-size: 30px;
    }
}

.wwdMessage {
    margin-bottom: 30px;
}


.plate {
    height: 100px;
}

.martini {
    height: 100px;
}

.ddm {
    color: $color1;
}

.reel {
    height: 100px;
}
.wwd2 {
    height: 290px;
    background-color: $color1;
    color: $color3;
    h1,h2 {
        color: $color3;
        font-size: 28px;
    }
}

.wwdMessage2 {
    margin-bottom: 30px;
}

.calendar {
    height: 100px;
    color: $color3;
}

.soul {
    height: 100px;
    color: $color3;
}

.clock {
    height: 100px;
    color: $color3;
}

.charge {
    height: 100px;
    color: $color3;
}

.wwd3 {
    height: 140px;
    background-color: $color5;
    color: $color3;
    h1,h2 {
        color: $color3;
    }
}

.wwdMessage3 {
    margin-bottom: 30px;
}

.wwd4 {
    height: 290px;
    background-color: $color2;
    color: $color5;
    h1,h2 {
        color: $color5;
        font-size: 28px;
    }
}

.contactFooter {
    margin-top: 30px;
}

.jamesPic {

    width: 100px;
}
.header-distributed{
    background-color: black;
    width: 100%;
    color:  $color5;
}

.fa {
    font-size: 30px;
}

.footer-distributed{
    background-color: $color1;
    width: 100%;
    color:  $color5;
    padding-bottom: 10px;
}

/* Footer social icons */


.footer-icons a{
    display: inline-block;
    border-radius: 2px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin: 20px;
    margin-bottom: 10px;
}

.footer-right p{
    display: inline-block;
    color: #ffffff;
}

.centerNav {
    padding-top: 30px;
}

.copyright {
    width: 1vw;
}

.contactJames {
    padding-top: 27px;
}
.profilePage {
    background-color: $color5;
}

.profileNav {
    background-color: $color1;
    height: 100px;
}

.profileNav2 {
    background-color: $color1;
    height: 100px;
}

.profileTopper {
    background-color: $color4;
    color: $color2;
    height: 700px;
    padding-top: 50px;
}

.insideProfileBox {
    background-color: $color5;
    height: 600px;
    color: $color2;
}

.profilePic {
    padding: 10px;
}

.dateInfoProfile {
    margin-top: 35px;
    color: $color2;
}

.dateModalFooter {
    padding-bottom: 10px;
}

.invitedText {
    color: $color4;
}

#dateProfileBox2 {
    background-color: $color2;
    color: $color1;
    padding: 30px;
    h3 {
        font-size: 20px;
    }
}

#dateProfileBox {
    color: $color2;
    padding-top: 40px;
    padding-bottom: 30px;
}

.solidBar {
    background-color: $color2;
    height: 20px;
}

.pastEventBox {
    opacity: 0.4;
    margin-bottom: 20px;
    margin-top: 20px;
}

.smIcons {
    padding-top: 25px;
}
.calendarBox {
    h1 {
        color: $color1;
        padding: 12px;
    }
}


#calendarEvents {
    height: 60px;
    background-color: $color2;
}

#googlePic {
    margin-top: 30px;
}

#googleName {
    margin-top: 20px;
}


.schedulePage {
    background-color: $color4;
}

.headersSearch {
    font-family: $headlineFont;
    font-size: 40px;
    color: $color1;
}


.g-signin2 {
    display: inline-block;
    text-align: center;
}

.btn-lg {
    background: $color2;
    font-size: 40px;
    font-family: $headlineFont;
    margin: 5px;
    color:$color3;
}

.btn-lg:hover, .btn-lg:focus, .btn-lg:active, .btn-lg.active, .open > .dropdown-toggle.btn-primary {
    background: $color5;
    color: $color3;
}

.btn-lg2:hover, .btn-lg2:focus, .btn-lg2:active, .btn-lg2.active, .open > .dropdown-toggle.btn-primary {
    background: $color5;
    color: $color3;
}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-primary {
    background: $color5;
    color: $color1;
    border: 1px $color1 solid;
}

.btn-primary,
.btn-secondary {
    background: transparent;
    border: 1px $color3 solid;
    padding: 15px;
    font-size: 16px;
    margin-top: 20px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $color3;
    color: $color1;
}

.btn-default {
    background: transparent;
    border: none;
    font-size: 16px;
    color: $color4;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-primary {
    color: $color4;
}


.schedDate {
    margin-bottom: 20px;
}

.selectLabel {
    color: $color1;
    margin-left: 5px;
}

.navRight {
    padding-right: 20px;
}

.searchTopper {
    margin-top: 300px;
    transition: 0.5s ease all;
}

.btn-lg2 {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background: $color5;
    font-size: 40px;
    font-family: "Syncopate", sans-serif;
    margin: 5px;
    color: $color4;
}

.addFriendButton {
    margin-top: 20px;
    background: $color4;
    color: #f6f7eb;
}

.searchTopper.searched {
    margin-top: 80px;
}

.selectOne {
    color: $color3;
    margin-bottom: 15px;
}

.flatpickr-input {
    color: $color5;
}

.selectOne2 {
    background-color: $color1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.searchButtonSched {
    margin-top: 36px;
}

.eventDate {
    max-width: 150px;
}

.modalBox,
.modal-content {
    color: $color2;
    background-color: $color5;
    font-family: $mainFont;

    a {
        color:$color3;
    }
    .mapURLbox {
        margin-bottom: 120px;
        color: $color4;
        padding-bottom: 20px;
    }
}

.reviewAuthor {
    border-bottom: 2px $color5 solid;
}

.mapURLbox {
    padding-bottom: 20px;
    color: $color4;
}

.reviewText {
    margin-top: 10px;
}
.modal-header {
    border: none;
    height: 10px;
}

.modal-footer {
    border: none;
    margin-top: 10px;
}

.establishment {
    padding: 5px;
}

.radiusMessage {
    color: $color3;
}

.messageToDateBox {
    margin-bottom: 15px;
}

.googleLogo {
    margin-top: 200px;
}

.inputBox {
    background-color: $color3;
}

.addToProfile {
    margin-bottom: 5px;
}

.addToProfile2 {
    margin:auto;
    color: $color4;
}

.margin-topBox {
    margin-top: 20px;
}

.updateBox {
    margin-top: 50px;
}

.toggleBoxInModal {
    margin-bottom: 15px;
}

.detailsForDate {
    margin-top: 30px;
}

.dateNightEvent {
    background-color: $color1;
    margin: 15px;
    min-height: 250px;
    // max-height: 450px;
    min-width: 410px;
    max-width: 410px;
    padding-bottom: 15px;
}

.glyphicon {
    font-size: inherit;
    position:relative;
    top: 10px;
    left: 10px;
    width: 375px;
}

.location-id {
    border: none;
    background-color: transparent;
    font-size: 14px;
}

// media query
/* Small Devices, Tablets */
@media only screen and (max-width : 767px){
    .mobileIndex {
        margin-top: 30px;
        padding-bottom: 30px;
        h3 {
            font-size: 20px;
            font-style: italic;
        }
    }

    .decBar {
        background-color: $color3;
        height: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .innerMobile {
        background-color: $color5;
        height: 100px;
        h1 {
            font-size: 35px;
            color: $color4;
            padding: 10px;
        }
    }

    .googleBoxMobile {
        padding-top: 40px;
    }

    .motto {
        margin-top: 40px;
    }

    .mobileButtonBox {
        margin-top: 25px;
    }
}


@media only screen and (min-width : 1200px) {
    .indexPage {
        height: 90vh;
    }
    .jumbotron {
        margin-top: 150px;
    }

    .martini2 {
        width: 4vw;
        height: 7vh;
    }

    .dateNightHeader {
        font-size: 45px;
    }

    .wwd3 {
        height: 225px;
    }

    /* Footer social icons */

    .profileNav {
        height: 10vh;
    }

    .profileTopper {
        height: 80vh;
        padding-top: 50px;
        h3 {
            font-size: 20px;
        }
    }

    .insideProfileBox {
        height: 68vh;
    }

    #dateProfileBox {
        color: $color2;
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .calendarBox {
        overflow: scroll;
        height: 80vh;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .btn-primary,
    .btn-secondary {
        width: 125px;
        padding: 5px;
    }

    .btn-default {
        width: 125px;
    }

}
