* {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 16px;
}

* h1 {
  font-family: "Syncopate", sans-serif;
}

* h3 {
  font-family: "Syncopate", sans-serif;
}

body {
  background-image: url("/assets/photo-1428452932365-4e7e1c4b0987.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainPage {
  margin-top: 30px;
}

.headersSearch {
  font-family: "Syncopate", sans-serif;
  font-size: 40px;
  color: #11a4d2;
}

.signInButton {
  margin-right: 20px;
}

.motto {
  color: #11a4d2;
  font-style: italic;
  font-size: 50px;
}

.jumbotron {
  margin-top: 150px;
  background-color: transparent;
  font-family: "Syncopate", sans-serif;
  font-size: 150px;
}

.g-signin2 {
  margin-right: 40px;
  margin-bottom: 5px;
  color: black;
}

.btn-primary,
.btn-secondary {
  width: 125px;
  background: transparent;
  border: 1px white solid;
  font-size: 16px;
  padding: 0px;
  padding: 2px;
  margin: 5px;
}

.selectLabel {
  color: #11a4d2;
  margin-left: 5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: white;
  color: black;
}

.profileTopper {
  margin-top: 30px;
}

.profilePic {
  padding: 10px;
}

.searchResultBox,
.form-inline {
  margin-top: 20px;
}

.eventDate {
  max-width: 150px;
}

.calendarBox {
  height: 225px;
}

.modalBox,
.modal-content {
  background-image: url("/assets/datenight-backdrop.jpg");
  border: 2px #11a4d2 solid;
}

.modalBox a,
.modal-content a {
  color: #11a4d2;
}

.modalBox .mapURLbox,
.modal-content .mapURLbox {
  margin-bottom: 120px;
  color: #11a4d2;
}

.reviewAuthor {
  border-bottom: 2px #b5b4b1 solid;
}

.mapURLbox {
  margin-bottom: 120px;
  color: #11a4d2;
}

.modal-header {
  border: none;
  height: 10px;
}

.modal-footer {
  border: none;
}

.establishment {
  margin: 5px;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.radiusMessage {
  color: white;
}

.googleLogo {
  margin-top: 200px;
}

.inputBox {
  background-color: #11a4d2;
}

.addToProfile {
  max-width: 200px;
}

.updateBox {
  margin-top: 50px;
}

.detailsForDate {
  margin-top: 30px;
}

.messageToDate {
  color: black;
  min-width: 400px;
}

.location-id {
  border: none;
  background-color: transparent;
  font-size: 14px;
}
