/* Coolors Exported Palette - coolors.co/4c5454-ff715b-ffffff-1ea896-523f38 */

/* HSL */
$color1: hsla(180%, 5%, 31%, 1);
$color2: hsla(8%, 100%, 68%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(172%, 70%, 39%, 1);
$color5: hsla(16%, 19%, 27%, 1);

/* RGB */
$color1: rgba(76, 84, 84, 1);
$color2: rgba(255, 113, 91, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(30, 168, 150, 1);
$color5: rgba(82, 63, 56, 1);
